body {
    background-color: #fbc4c4;
}

header {
    text-decoration: dotted;
    text-align: center;
    font-size: 40px;
}

h1 {
    color: purple;
    background-color: pink;
    text-align: center;
    font-size: 60px;
    text-shadow: black 2px 2px;
    font-family:Georgia, 'Times New Roman', Times, serif

}

h2 {
    color: red;
    text-align: center;
    font-size: 40px;
}

p {
    color: brown;
    font-size: x-large;
    line-height: 20px;
    letter-spacing: 1px;
}

.initalinfo {
    padding-left: 10%;
}

a {
    font-size: larger;
    background-color: pink;
}
li {
    font-family: sans-serif;
    color: #6b6565;
    letter-spacing: 2px;
    line-height: 40px;
}

.dondonts {
    column-count: 2;
    column-gap: 50px;
}

a.link {
    text-transform: uppercase;
}

footer p .date {
    border-radius: 3px;
    background-color: aqua;
}

.images {
    text-align: center;
    margin: 60px;
}

.images li {
    display: inline-block;
    width: 40%;
}

.images li img {
    max-width: 100%;
}

blockquote {
    font-size: 30px;
    padding-left: 3%;
}

.form {
    padding-left: 5%;
    font-size: larger;
}